@font-face {
  font-family: 'Star Jedi Hollow';
  src: url('StarJediHollow.eot');
  src: url('StarJediHollow.eot?#iefix') format('embedded-opentype'),
      url('StarJediHollow.woff2') format('woff2'),
      url('StarJediHollow.woff') format('woff'),
      url('StarJediHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1 {
    font-family: 'Star Jedi Hollow';
    font-weight: bolder;
    font-style: normal;
    color: #f7cb07;
}

p {
  font-family: Calibri;
  font-size: 20px;
  color: whitesmoke;
}

.texto {
  font-style: italic;
}

.titulo {
  font-weight: bold;
}

label {
  font-family: Calibri;
  font-size: 20px;
  color: whitesmoke;
}

main {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	max-width: 600px;
	margin: auto;
	border-radius: 10px;
	border: 2px solid black;
  color: black;
  text-align: left;
}

.div2 {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 50px;
	max-width: 600px;
	margin: auto;
	border-radius: 10px;
	border: 2px solid black;
	color: black;
}


@media only screen and (max-width: 767px) {
  body {
    background-image: url('./640787.jpg');
    background-repeat: no-repeat;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.5);
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url('./640787.jpg');
    background-repeat: no-repeat;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.5);
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  body {
    background-image: url('./640787.jpg');
    background-repeat: no-repeat;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.5);
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url('./640787.jpg');
    background-repeat: no-repeat;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
}
